script(src="http://staging.tokbox.com/v0.91/js/TB.min.js")
script(src="/javascripts/chat.js")
#chat-wrapper.section-wrapper
  #chat
    #leftSide
      #imgContainer
        img#imgLogo(src="/images/qt-logo.png")
      #publisherContainer
        img#joinCTA(src='/images/rejoinChat.png')
      #shareBox
        #shareBoxTitle Share video chat link
          #displayUrlBox
            #displayCurrUrl
            button#displayCurrUrlBtn copy
          #shareBtnBox
            #shareFbBtn
            #shareTwBtn
      #emptyBottomLeftGarbage
    #subscriberBox